<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
	<classpathentry kind="src" path="src"/>
	<classpathentry kind="lib" path="lib/commons-collections-3.2.1.jar"/>
	<classpathentry kind="lib" path="lib/commons-lang-2.6.jar"/>
	<classpathentry kind="lib" path="lib/ini4j-0.5.2.jar"/>
	<classpathentry kind="lib" path="lib/velocity-1.7.jar"/>
	<classpathentry kind="lib" path="lib/commons-cli-1.2.jar"/>
	<classpathentry combineaccessrules="false" kind="src" path="/SHIM_API_PROJECT"/>
	<classpathentry kind="output" path="bin"/>
</classpath>
